# Python virtual environments
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Environment variables and secret information
.env
.env.*

# VS Code personal settings
.vscode/

# Operating-system files
.DS_Store
Thumbs.db